.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.modal-backdrop.fade {
    opacity: 0;
}
.fade.in {
    opacity: 1;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.8;
    text-align: center;
    filter: alpha(opacity=80);
}
.modal-backdrop {
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000 !important;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.modal.fade.in {
    bottom: 0;
}
.modal.fade {
    bottom: -25%;
    -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
    -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
    transition: opacity 0.3s linear, bottom 0.3s ease-out;
}
.fade.in {
    opacity: 1;
}
.modal {
    position: absolute;
    top: 35%;
    /* bottom: 10%; */
    z-index: 1050;
    width: 280px;
    outline: none;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}
.modal-header h3 {
    margin: 0;
    line-height: 30px;
}
.modal-footer {
    /* padding: 14px 15px 15px; */
    margin-bottom: 0;
}
.modal-footer:before, .modal-footer:after {
    display: table;
    line-height: 0;
    content: "";
}
.modal-footer:after {
    clear: both;
}
.modal-footer:before, .modal-footer:after {
    display: table;
    line-height: 0;
    content: "";
}